# Object files
*.o
*.obj
*.ko
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.opendb

# IDE - Related
# Eclipse IDE
.cproject
.project
.settings/

# VS Code
.vscode/
*.code-workspace

# ccls
.ccls-cache/

# Temporary files
*.swp
*.bak
*.tmp
*~
*.log

# Other files
*.tar.*
*.gz
*.zip

# Build directories
build/
debug/
release/

# Autotools
autom4te.cache/
config.status
config.log
configure
*.in
Makefile
Makefile.in